<% if (visible) { %>
    <tr>
        <td><img src="/employeeImages/<%- imageUrl %>" alt="Picture of <%= name %>"/></td>
        <td><%= name %></td>
        <td><%= age %></td>
        <td><%= occupation %></td>
        <td><%= company %></td>
    </tr>
<% } else { %>
    <tr>
        <td colspan="5"><%= name %> has hidden their information.</td>
    </tr>
<% } %>